<div class="container">
  <div class="row">

    <div class="col s12">
      <div class="error" [ngClass]="{ 'show-error': showError }">
        <h5>The video stream appears to<br>be down or unreachable.
        </h5>
        <h6>(Not compatible with Internet Explorer)</h6>
      </div>
      <div class="stream-container" [ngClass]="{ 'show-stream': showStream }">
        <div class="videoControls">
          <span class="btnFullscreen" (click)="fullscreen()" title="Fullscreen">
            <i class="material-icons">fullscreen</i>
          </span>
          <span class="btnRotateClockwise" (click)="rotate(1)" title="Rotate Clockwise">
            <i class="material-icons">rotate_right</i>
          </span>
          <span class="btnRotateCounterclockwise" (click)="rotate(-1)" title="Rotate Counterclockwise">
            <i class="material-icons">rotate_left</i>
          </span>
        </div>

        <img #stream class="img-stream" [src]="url" (error)="onImgStreamError()" [ngClass]="orientationClass" alt='Cora Cam' />
      </div>
    </div>

  </div>
</div>
