/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
.page        {
    bottom:0; 
    padding-top:150px;
    position:absolute; 
    text-align:center;
    top:45px;  
    width:100%; 
}

.page h1    { font-size:60px; }
.page a     { margin-top:50px; }

