<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <h1 class="header center orange-text">{{ headerService.text }}</h1>
    <div class="row center">
      <h5 class="header col s12 light">
        {{ headerService.subText }}
      </h5>
    </div>
    <br>
    <br>
  </div>
</div>

  <!-- <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar> -->